<div id="single-blog" data-barba="container" data-barba-namespace="single-blog">
    <div class="animated"></div>
    <div class="blog-header">
        <div class="container">
            <div class="row center">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="blog-author">
                        <span>
                            Escrito por
                        </span>
                        <strong>
                            {{ article.author }}
                        </strong>
                        <span>
                            {{ article.published_at | date: format: 'date' }}
                        </span>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="blog-intro">
                        <h1 class="title">{{ article.title }}</h1>

                        <div class="intro">
                            <p>
                                {{ article.metafields.post.intro }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-content">
        <div class="container">
            <div class="row center">
                <div class="col-12">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>

    <div class="blog-comments">
        <div class="container">
            <div class="row center">
                <div class="col-md-10">
                    {% assign number_of_comments = article.comments_count %}
                    {% if comment and comment.created_at %}
                        {% assign number_of_comments = article.comments_count %}
                    {% endif %}

                    {% if blog.comments_enabled? %}
                        <h2>{{ number_of_comments }} comentarios</h2>
                        {% paginate article.comments by 5 %}
                            {% for comment in article.comments %}
                                <div>
                                <div>{{ comment.content }}</div>
                                {{ comment.author }} @ {{ comment.created_at }}
                                </div>
                            {% endfor %}
                            {% if paginate.pages > 1 %}
                                {{ paginate | default_pagination }}
                            {% endif %}
                        {% endpaginate %}

                        <div class="form-comments">
                            {% form 'new_comment', article %}
                                {{ form.errors | default_errors }}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="comment[author]" id="CommentAuthor" placeholder="Tu nombre completo" value="{{ form.author }}" autocapitalize="words">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" name="comment[email]" id="CommentEmail" placeholder="Tu correo" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="comment[body]" id="CommentBody"placeholder="Escribe tu comentario">{{ form.body }}</textarea>
                                    </div>
                                </div>


                                <button type="submit">
                                    ENVIAR COMENTARIO
                                    <i class="icon-arrow-up-right"></i>
                                </button>
                            {% endform %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--red js-wave"><path d="M0 10 L2500 10 L2500 80 L0 80 Z" /></svg>
    </div>

    <div class="wrap-marquee marquee--blog">
        <a href="/pages/libros">
            <div class="marquee-line"></div>
            <div class="marquee-text">
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
            </div>
            <div class="marquee-line"></div>
        </a>
    </div>

</div>
