<div id="blog" data-barba="container" data-barba-namespace="blog">
    <div class="animated"></div>
    <div class="main-hero hero--blog">
        <div class="container">
            {% for article in blog.articles %}
                {% if forloop.first == true %}
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            <div class="main-hero-img" style="background-image: url({{ article.image.src | img_url: 'grande' }})">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="main-hero-content blog-hero-right">
                                <h2 class="title">
                                    {{ article.title }}
                                </h2>
                                {% if article.excerpt.size > 0 %}
                                    <p>
                                        {{ article.excerpt }}
                                    </p>
                                {% else %}
                                    <p>
                                        {{ article.content | strip_html | truncatewords: 75 }}
                                    </p>
                                {% endif %}
                                <a href="{{ article.url }}" class="cta">
                                    <span>LEER MÁS</span>
                                    {% include 'cta-line' %}
                                </a>
                            </div>
                        </div>
                        <div class="hero-link">
                            <i class="icon-arrow-down"></i>
                            <span>SCROLL</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="blog-entries">
        <div class="container">
            <div class="row">
                {% for article in blog.articles %}
                    {% if forloop.first != true %}
                        <div class="col-sm-6 col-md-4">
                            <div class="blog-card">
                                <a href="{{ article.url }}">
                                    <div class="blog-card__image">
                                        <img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}">
                                    </div>
                                    <div class="blog-card__tag">
                                        {{article.tags}}
                                    </div>
                                    <div class="blog-card__text">
                                        <h3 class="title title--small">
                                            {{ article.title }}
                                        </h3>
                                        <div>
                                            {% if article.excerpt.size > 0 %}
                                                <p>
                                                    {{ article.excerpt }}
                                                </p>
                                            {% else %}
                                                <p>
                                                    {{ article.content | strip_html | truncatewords: 50 }}
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="blog-card__link">
                                            <div class="cta">
                                                <span>LEER MÁS</span>
                                                {% include 'cta-line' %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% paginate blog.articles by 5 %}

        
        {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
        {% endif %}

        {% endpaginate %}

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--red js-wave"><path d="M0 10 L2500 10 L2500 80 L0 80 Z" /></svg>
    </div>

    <div class="wrap-marquee marquee--blog">
        <a href="/pages/libros">
            <div class="marquee-line"></div>
            <div class="marquee-text">
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
            </div>
            <div class="marquee-line"></div>
        </a>
    </div>

</div>
