<div data-barba="wrapper">
<div id="blog" data-barba="container" data-barba-namespace="blog">
    <div class="main-hero hero--blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <div class="blog-hero-left">
                        <img
                        src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/Mask_Group_28_2x_0fa63a01-26d0-4b3a-895c-a5ad1c2f8393.png?v=1586484248"
                        alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="blog-hero-right">
                        <h2 class="title">
                            Lazo Libro un nueva propuesta editorial.
                        </h2>
                        <p>
                            Vivimos obsesionados. Investigamos y transformamos información y datos en narraciones y libros ilustrados. Le damos un lugar a la información escondida y acompañamos a los lectores en su descubrimiento del mundo.
                        </p>
                        <a href="" class="cta">
                            <span>LEER MÁS</span>
                            {% include 'cta-line' %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero-link">
                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/hero-arrow.svg?v=1585454452" alt="">
                <span>SCROLL</span>
            </div>
        </div>
    </div>

    <div id="blog-entries">
        <div class="container">
            <div class="row">
                {% for article in blog.articles %}
                <div class="col-sm-6 col-md-4">
                    <div class="blog-card">
                        <a href="{{ article.url }}">
                            <div class="blog-card__image">
                                <img src="{{ article.image.src | img_url: 'grande' }}" alt="">
                            </div>
                            <div class="blog-card__tag">
                                {{article.tags}}
                            </div>
                            <div class="blog-card__text">
                                <h3 class="title title--small">
                                    {{ article.title }}
                                </h3>
                                <div>
                                    {% if article.excerpt.size > 0 %}
                                        <p>
                                            {{ article.excerpt }}
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ article.content | strip_html | truncatewords: 100 }}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="blog-card__link">
                                    <div class="cta">
                                        <span>LEER MÁS</span>
                                        {% include 'cta-line' %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% paginate blog.articles by 5 %}

        
        {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
        {% endif %}

        {% endpaginate %}
    </div>

</div>
</div>
