{% comment %} {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} {% endcomment %}

<div data-barba="wrapper">
<div id="homepage" data-barba="container" data-barba-namespace="home">
    <div class="main-hero hero--home">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-6">
                    <div class="main-hero-content">
                        <h1 class="title title--big title--white">
                            Historias colombianas 
                            para niñas y niños 
                            curiosos que están 
                            descubriendo el mundo.
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/1-rojo_2x_74e7879c-0055-4419-b13a-0d486940c511.png?v=1586025255" alt="">
                    </div>
                </div>
            </div>
            <div class="hero-link">
                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/hero-arrow.svg?v=1585454452" alt="">
                <span>SCROLL</span>
            </div>
        </div>
    </div>

    <svg class="wave-one-container" width="100%" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path class="wave-one" d=""/></svg>

    {% include 'module-book' %}

    <svg class="wave-two-container" width="100%" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path class="wave-two" d=""/></svg>


    <div id="homepage-video">
        <div class="container">
            <div class="homepage-video-container">
                <iframe width="640" height="320" frameborder="0" src="https://player.vimeo.com/video/225434434?"></iframe>
            </div>
        </div>
    </div>

    <div id="homepage-blog">
        <div class="container">
            <div class="homepage-blog-top">
                <h2 class="title title--big">Blog</h2>
                <div class="homepage-blog-link">
                    <a href="" class="cta">
                        <span>VER MÁS</span>
                        {% include 'cta-line' %}
                    </a>
                </div>
            </div>
            <div class="homepage-blog-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="blog-card">
                            <a href="">
                                <div class="blog-card__image">
                                    <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
                                </div>
                                <div class="blog-card__tag">EDITORIAL</div>
                                <div class="blog-card__text">
                                    <h3 class="title title--small">¿Quién escribió el libro?</h3>
                                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
                                    <div class="blog-card__link">
                                        <div class="cta">
                                            <span>LEER MÁS</span>
                                            {% include 'cta-line' %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="blog-card">
                            <a href="">
                                <div class="blog-card__image">
                                    <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
                                </div>
                                <div class="blog-card__tag">EDITORIAL</div>
                                <div class="blog-card__text">
                                    <h3 class="title title--small">¿Quién escribió el libro?</h3>
                                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
                                    <div class="blog-card__link">
                                        <div class="cta">
                                            <span>LEER MÁS</span>
                                            {% include 'cta-line' %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="blog-card">
                            <a href="">
                                <div class="blog-card__image">
                                    <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
                                </div>
                                <div class="blog-card__tag">EDITORIAL</div>
                                <div class="blog-card__text">
                                    <h3 class="title title--small">¿Quién escribió el libro?</h3>
                                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
                                    <div class="blog-card__link">
                                        <div class="cta">
                                            <span>LEER MÁS</span>
                                            {% include 'cta-line' %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-marquee marquee--home">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
            <p>SOBRE LAZO LIBROS</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>
</div>
</div>
