{% comment %} {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} {% endcomment %}


<div id="homepage">
  <div id="homepage-content">

    <div id="homepage-background">
      <div id="homepage-hero">
        <h1>Historias colombianas 
          para niñas y niños 
          curiosos que están 
          descubriendo el mundo.</h1>
          <div class="hero-link">
            <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/hero-arrow.svg?v=1585454452" alt="">
            <span>SCROLL</span>
          </div>
      </div>
  </div>

    <div id="homepage-book">
      <div class="homepage-book_banner">
        <div class="homepage-banner-left">
          <h2>El vuelo de las jorobadas</h2>
          <p>Conoce nuestro primer libro sobre el fascinante 
            viaje que hacen todos los años las ballenas jorobadas de la Antártida al Pacífico colombiano.</p>
          <div class="banner-links">
            <a class="banner-link-leer"><span>LEER MÁS</span></a>
            <a class="banner-link-comprar"><span>LO QUIERO!</span></a>
          </div>
          <div class="banner-destino">
            <div class="banner-destino-icon"></div>
            <div class="banner-destino-text">Destino: Costa Pacífica Colombiana</div>
          </div>
        </div>
        <div class="homepage-banner-right">
          <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/libro-portada-home_2x_31708fa1-aad0-4bca-8191-556965a20b15.png?v=1585456702" alt="">
        </div>
        <div class="homepage-banner-circle">
          <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nuevo-libro.svg?v=1585457252" alt="">
        </div>
      </div>
      <div class="homepage-book_quote">
        <p>“Hace falta tener esas alas, o aletas, para volar como lo hacen las jorobadas, las más acrobáticas de las ballenas. Están de fiesta. Se darán un último banquete antes del gran viaje al lugar donde nacieron y donde habrán de nacer sus hijos y nietos”.</p>
      </div>
    </div>


    <div id="homepage-video">
      <div class="homepage-video-container">
        <iframe width="640" height="320" frameborder="0" src="https://player.vimeo.com/video/225434434?"></iframe>
      </div>
    </div>

    <div id="homepage-blog">
      <div class="homepage-blog-max">
        <div class="homepage-blog-top">
          <h2>Blog</h2>
          <div class="homepage-blog-link">
            <a href="">VER MÁS</a>
          </div>
        </div>
        <div class="homepage-blog-content">
          <div class="homepage-blog-post">
            <div class="homepage-post-image">
              <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
            </div>
            <div class="homepage-post-tag">EDITORIAL</div>
            <div class="homepage-post-text">
              <h3>¿Quién escribió el libro?</h3>
              <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
              <div class="homepage-post-link">
                <a href="">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="homepage-blog-post">
            <div class="homepage-post-image">
              <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
            </div>
            <div class="homepage-post-tag">ILUSTRACIÓN</div>
            <div class="homepage-post-text">
              <h3>¿Quién escribió el libro?</h3>
              <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
              <div class="homepage-post-link">
                <a href="">LEER MÁS</a>
              </div>
            </div>
          </div>
          <div class="homepage-blog-post">
            <div class="homepage-post-image">
              <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/homepage-blog.png?v=1585619013" alt="">
            </div>
            <div class="homepage-post-tag">LAZO LIBROS</div>
            <div class="homepage-post-text">
              <h3>¿Quién escribió el libro?</h3>
              <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada.</p>
              <div class="homepage-post-link">
                <a href="">LEER MÁS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="homepage-marquee">
      <div class="marquee-line"></div>
      <div class="marquee-text">
        <p>SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS SOBRE LAZO LIBROS</p>
      </div>
      <div class="marquee-line"></div>
    </div>

  </div>
</div>

<div id="boletin">
  <div class="boletin-content">
    <div class="boletin-left">
      <span class="boletin-eyebrow">INSCRÍBETE AL BOLETÍN</span>
      <h3 class="boletin-title">
        Formemos juntos un lazo de experiencia.
      </h3>
    </div>
    <div class="boletin-right">
      <input type="text" placeholder="Tu correo electrónico">
      <button> INSCRIBIRME</button>
    </div>
  </div>
</div>
<div id="footer">

</div>