<div id="destacado" data-barba="container" data-barba-namespace="destacado">
    <div class="animated"></div>
    
    {% assign destacado = page.metafields.destacado %}

    <div class="destacado-buy-bar">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--black wave--small wave--top"><path class="js-wave--small" d="M 0 5.0293 C 158.2855 6.5024 158.2855 6.5024 316.5712 5.7658 C 474.8569 5.0293 474.8569 5.0293 633.1426 7.3574 C 791.4284 9.6859 791.4284 9.6859 949.7141 9.3834 C 1107.9998 9.0809 1107.9998 9.0809 1266.2855 11.3078 C 1424.5712 13.5345 1424.5712 13.5345 1582.8569 12.622 C 1741.1426 11.7095 1741.1426 11.7095 1899.4284 12.9791 C 2057.7141 14.2482 2057.7141 14.2482 2215.9998 10.3921 L 2215.9998 14520.6998 L 0 14520.6998 Z"></path></svg>
        <a href="{{ shop.url }}/products/{{ destacado.producto }}">
            COMPRAR LIBRO
        </a>
    </div>

    <div class="main-hero hero--destacado" style="background-image: url({{ destacado.hero_bg }});">
        <div class="container">
            <h1 class="title title--xbig title--white">{{ page.title }}</h1>
            
            {% if destacado.author %}
                <div class="authors">
                    <h6>
                        Autores
                    </h6>
                    {% for author in destacado.author %}
                        <p>
                            {{ author }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="hero-link">
                <i class="icon-arrow-down"></i>
                <span>SCROLL</span>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--white"><path class="js-wave2"' %} d="M 0 44.7343 C 166.1999 39.2494 166.1999 39.2494 332.3999 41.9919 C 498.5999 44.7343 498.5999 44.7343 664.7999 36.7402 C 830.9999 28.746 830.9999 28.746 997.1999 30.3675 C 1163.3999 31.989 1163.3999 31.989 1329.5999 24.5586 C 1495.7999 17.1282 1495.7999 17.1282 1661.9999 33.5904 L 1661.9999 3627.7699 L 0 3627.7699 Z"></path></svg>
    </div>

    <div id="destacado-info">
        <div class="container">
            <div class="row between">
                <div class="col-md-5">
                    <div class="destacado-info-left">
                        <h3 class="title title--small">
                            {{ destacado.titulo_intro }}
                        </h3>
                        <div class="destacado-line"></div>
                        {% for caracteristica in destacado.caracteristicas %}
                            <div class="destacado-detail">
                                {{ caracteristica }}
                            </div>
                        {% endfor %}
                        <div class="module-banner-circle">
                            <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nuevo-libro.svg?v=1585457252" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="destacado-info-right">
                        {{ destacado.text_intro }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="destacado-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="destacado-slider__slider js-destacado-slider">
                        {% for slide in destacado.slider %}
                            <div class="slide">
                                <img src="{{ slide }}" alt="" class="img-responsive">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="destacado-slider__tabs">
                        {% for slide in destacado.slider %}
                            {% if forloop.first == true %}
                                <div class="single-slider-tab js-slider-tab active" data-slide-to="{{ forloop.index0 }}">
                                    <img src="{{ slide }}" alt="" class="img-responsive">
                                </div>
                            {% else %}
                                <div class="single-slider-tab js-slider-tab" data-slide-to="{{ forloop.index0 }}">
                                    <img src="{{ slide }}" alt="" class="img-responsive">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-picture">
        <img src="{{ destacado.img_full }}" alt="">
    </div>

    <div class="single-picture single-picture--container">
        <div class="container">
            <img src="{{ destacado.img_margen }}" alt="">
        </div>
    </div>

    <div class="single-picture">
        <img src="{{ destacado.img_full2 }}" alt="">
    </div>

    <div id="destacado-video">
        <div class="container">
            <div class="destacado-video-container">
                <iframe width="640" height="320" frameborder="0" src="https://player.vimeo.com/video/225434434?"></iframe>
            </div>
        </div>
    </div>

    <div id="destacado-banner">
        <img src="{{ destacado.img_leyendo }}" alt="">
    </div>

    <div id="destacado-autores">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-6">
                    <div class="autores-title">
                        <h2 class="title title--big">
                            {{ destacado.titulo_autores }}
                        </h2>
                    </div>
                </div>
            </div>

            {% if destacado.nombre_autor_1 %}
                <div class="single-autor">
                    <div class="row">
                        {% if destacado.img_autor_1 %}
                            <div class="col-md-4 col-lg-5">
                                <div class="single-autor-left">
                                    <svg class="svg-1" x="0px" y="0px" viewBox="0 0 974.1 897.2">
                                        <mask id="shape-mask-2">
                                            <g>
                                                <path class="mask-path-2" fill="#ffffff" d="M870.6,441.2c-35.7,44.8-74,87.9-100.4,139.1c-26.5,51.4-41.9,106.6-61.8,160.8c-21.1,57.6-57.1,124.4-119.7,143.4c-68.9,20.9-142.3,18.8-213.1,11.6c-72.2-7.3-145.3-20.1-209.5-54c-95.9-50.6-136-139.1-155.9-241.3C-6,518.1-1.5,432.1,13.7,349.5c14.5-78.8,36.9-158.9,85.9-223.8c46-61,102.3-107.8,180.1-118.5c71.1-9.8,142.5,6.1,213.6,6.6c95,0.6,190.9-21.2,284.9,0.7C850,31.3,919.4,74.9,949,142.5C995.4,248.4,935.9,359.3,870.6,441.2"/>
                                            </g>
                                        </mask>
                                        <path class="mask-path-2" fill="#eda68b" d="M927.3,565.3c-13.9-9.8-30.8-15.4-47.4-13c-40.8,5.9-61,49.7-66.5,85.9c-7.5,49.5-17.4,100.1-43.4,143.6c-14.2,23.7-42.4,59.4-19.4,86.5c15.6,18.4,46.3,14.2,66.9,8.9c32.8-8.5,62.8-26.5,86.9-50c64.4-62.7,108.4-183,32-254.5C933.5,570.1,930.5,567.6,927.3,565.3"/>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="{{ destacado.img_autor_1 }}" mask="url(#shape-mask-2)"></image>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-6">
                        {% else %}
                            <div class="col-md-10 col-lg-8">
                        {% endif %}
                            <div class="single-autor-right">
                                <span class="role">
                                    {{ destacado.rol_autor_1 }}
                                </span>
                                <h3 class="title title--big">
                                    {{ destacado.nombre_autor_1 }}
                                </h3>
                                <div>
                                    {{ destacado.content_autor_1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if destacado.nombre_autor_2 %}
                <div class="single-autor">
                    <div class="row">
                        {% if destacado.img_autor_2 %}
                            <div class="col-md-4 col-lg-5">
                                <div class="single-autor-left">
                                    <svg class="svg-1" x="0px" y="0px" viewBox="0 0 977.9 974.8">
                                        <mask id="shape-mask-3">
                                            <g>
                                                <path class="mask-path-3" fill="#ffffff" d="M347.5,32C231.8,72.7,127.7,155.3,69.4,262.5C-4.2,397.5-18.1,562.1,22.1,709.7C53,822.9,147,962.9,272.9,914.4c41-15.8,71.9-50.6,102.5-83.1c54.9-58.2,124.3-95.8,205.4-90.4c43.4,2.8,86.8,12.1,130,10c137.9-6.5,246.3-127.9,262-271C988.7,335.5,894.8,170.3,784,86.2C682.7,9.3,543.6-11.2,420.1,12.3C395.6,17,371.3,23.6,347.5,32"/>
                                            </g>
                                        </mask>
                                        <path class="mask-path-3" fill="#79cadd" d="M809.1,858.5c-15.6,12.5-33.1,23-44.4,29.3c-67.1,37.4-140.5,65.6-216.1,80.9c-46.8,9.5-98.3,4.8-112.7-39.1C416.6,871.4,491.9,818,553,813.3c35.4-2.8,68.9,7.3,103.2,12.1c32.7,4.6,60.9,1.3,92-12c22.6-9.6,60.5-35.6,84.7-22.4c7.5,4.1,10.7,12.5,9.9,20.6C841.1,830.1,824.5,846.1,809.1,858.5"/>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="{{ destacado.img_autor_2 }}" mask="url(#shape-mask-3)"></image>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-6">
                        {% else %}
                            <div class="col-md-10 col-lg-8">
                        {% endif %}
                            <div class="single-autor-right">
                                <span class="role">
                                    {{ destacado.rol_autor_2 }}
                                </span>
                                <h3 class="title title--big">
                                    {{ destacado.nombre_autor_2 }}
                                </h3>
                                <div>
                                    {{ destacado.content_autor_2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if destacado.nombre_autor_3 %}
                <div class="single-autor">
                    <div class="row">
                        {% if destacado.img_autor_3 %}
                            <div class="col-md-4 col-lg-5">
                                <div class="single-autor-left">
                                    <svg class="svg-1" x="0px" y="0px" viewBox="0 0 974.1 897.2">
                                        <mask id="shape-mask-2">
                                            <g>
                                                <path class="mask-path-2" fill="#ffffff" d="M870.6,441.2c-35.7,44.8-74,87.9-100.4,139.1c-26.5,51.4-41.9,106.6-61.8,160.8c-21.1,57.6-57.1,124.4-119.7,143.4c-68.9,20.9-142.3,18.8-213.1,11.6c-72.2-7.3-145.3-20.1-209.5-54c-95.9-50.6-136-139.1-155.9-241.3C-6,518.1-1.5,432.1,13.7,349.5c14.5-78.8,36.9-158.9,85.9-223.8c46-61,102.3-107.8,180.1-118.5c71.1-9.8,142.5,6.1,213.6,6.6c95,0.6,190.9-21.2,284.9,0.7C850,31.3,919.4,74.9,949,142.5C995.4,248.4,935.9,359.3,870.6,441.2"/>
                                            </g>
                                        </mask>
                                        <path class="mask-path-2" fill="#fee399" d="M927.3,565.3c-13.9-9.8-30.8-15.4-47.4-13c-40.8,5.9-61,49.7-66.5,85.9c-7.5,49.5-17.4,100.1-43.4,143.6c-14.2,23.7-42.4,59.4-19.4,86.5c15.6,18.4,46.3,14.2,66.9,8.9c32.8-8.5,62.8-26.5,86.9-50c64.4-62.7,108.4-183,32-254.5C933.5,570.1,930.5,567.6,927.3,565.3"/>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="{{ destacado.img_autor_3 }}" mask="url(#shape-mask-2)"></image>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-6">
                        {% else %}
                            <div class="col-md-10 col-lg-8">
                        {% endif %}
                            <div class="single-autor-right">
                                <span class="role">
                                    {{ destacado.rol_autor_3 }}
                                </span>
                                <h3 class="title title--big">
                                    {{ destacado.nombre_autor_3 }}
                                </h3>
                                <div>
                                    {{ destacado.content_autor_3 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if destacado.nombre_autor_4 %}
                <div class="single-autor">
                    <div class="row">
                        {% if destacado.img_autor_4 %}
                            <div class="col-md-4 col-lg-5">
                                <div class="single-autor-left">
                                    <svg class="svg-1" x="0px" y="0px" viewBox="0 0 977.9 974.8">
                                        <mask id="shape-mask-3">
                                            <g>
                                                <path class="mask-path-3" fill="#ffffff" d="M347.5,32C231.8,72.7,127.7,155.3,69.4,262.5C-4.2,397.5-18.1,562.1,22.1,709.7C53,822.9,147,962.9,272.9,914.4c41-15.8,71.9-50.6,102.5-83.1c54.9-58.2,124.3-95.8,205.4-90.4c43.4,2.8,86.8,12.1,130,10c137.9-6.5,246.3-127.9,262-271C988.7,335.5,894.8,170.3,784,86.2C682.7,9.3,543.6-11.2,420.1,12.3C395.6,17,371.3,23.6,347.5,32"/>
                                            </g>
                                        </mask>
                                        <path class="mask-path-3" fill="#1a1919" d="M809.1,858.5c-15.6,12.5-33.1,23-44.4,29.3c-67.1,37.4-140.5,65.6-216.1,80.9c-46.8,9.5-98.3,4.8-112.7-39.1C416.6,871.4,491.9,818,553,813.3c35.4-2.8,68.9,7.3,103.2,12.1c32.7,4.6,60.9,1.3,92-12c22.6-9.6,60.5-35.6,84.7-22.4c7.5,4.1,10.7,12.5,9.9,20.6C841.1,830.1,824.5,846.1,809.1,858.5"/>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="{{ destacado.img_autor_4 }}" mask="url(#shape-mask-3)"></image>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-6">
                        {% else %}
                            <div class="col-md-10 col-lg-8">
                        {% endif %}
                            <div class="single-autor-right">
                                <span class="role">
                                    {{ destacado.rol_autor_4 }}
                                </span>
                                <h3 class="title title--big">
                                    {{ destacado.nombre_autor_4 }}
                                </h3>
                                <div>
                                    {{ destacado.content_autor_4 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="destacado-colaboradores">
        <div class="container">
            <div class="colaboradores-investigadores">
                <span>
                    {{ destacado.titulo_investigadores }}
                </span>
                <div class="colaboradores-content">
                    <div class="row">
                        {% if destacado.nombre_inv_1 %}
                            <div class="col-md-6 col-lg-4">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_inv_1 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_inv_1 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_inv_1 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        
                        {% if destacado.nombre_inv_2 %}
                            <div class="col-md-6 col-lg-4">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_inv_2 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_inv_2 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_inv_2 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if destacado.nombre_inv_3 %}
                            <div class="col-md-6 col-lg-4">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_inv_3 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_inv_3 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_inv_3 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if destacado.nombre_inv_4 %}
                            <div class="col-md-6 col-lg-4">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_inv_4 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_inv_4 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_inv_4 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="colaboradores-editorial">
                <span>
                    {{ destacado.titulo_editores }}
                </span>
                <div class="colaboradores-content">
                    <div class="row">

                        {% if destacado.nombre_editor_1 %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_editor_1 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_editor_1 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_editor_1 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if destacado.nombre_editor_2 %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_editor_2 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_editor_2 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_editor_2 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if destacado.nombre_editor_3 %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_editor_3 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_editor_3 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_editor_3 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if destacado.nombre_editor_4 %}
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="colaborador">
                                    <img src="{{ destacado.img_editor_4 }}" alt="">
                                    <h4>
                                        {{ destacado.nombre_editor_4 }}
                                    </h4>
                                    <div>
                                        {{ destacado.content_editor_4 }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if destacado.related %}
        <div id="destacado-blog">
            <div class="container">
                <div class="destacado-blog-top">
                    <h2 class="title title--big">Artículos relacionados</h2>
                    <a href="{{ blogs.lazo-blog.url }}" class="cta">
                        <span>VER MÁS</span>
                        {% include 'cta-line' %}
                    </a>
                </div>
                <div class="destacado-blog-content">
                    <div class="row">
                        {% assign all_posts = destacado.related | split: "|" %}

                        {% for article in all_posts %}
                            <div class="col-sm-6 col-md-4">
                                <div class="blog-card">
                                    <a href="{{ articles[article].url }}">
                                        <div class="blog-card__image">
                                            <img src="{{ articles[article].image.src | img_url: 'grande' }}" alt="{{ articles[article].title }}">
                                        </div>
                                        <div class="blog-card__tag">
                                            {{ articles[article].tags }}
                                        </div>
                                        <div class="blog-card__text">
                                            <h3 class="title title--small">
                                                {{ articles[article].title }}
                                            </h3>
                                            {% if articles[article].excerpt.size > 0 %}
                                                <p>
                                                    {{ articles[article].excerpt }}
                                                </p>
                                            {% else %}
                                                <p>
                                                    {{ articles[article].content | strip_html | truncatewords: 50 }}
                                                </p>
                                            {% endif %}
                                            <div class="blog-card__link">
                                                <div class="cta">
                                                    <span>LEER MÁS</span>
                                                    {% include 'cta-line' %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--yellow2"><path class="js-wave" d="M 0 49.308 C 276.9997 39.8989 276.9997 39.8989 553.9997 44.6035 C 830.9997 49.308 830.9997 49.308 1107.9997 36.5442 C 1384.9997 23.7802 1384.9997 23.7802 1661.9997 27.9453 C 1938.9997 32.1105 1938.9997 32.1105 2215.9997 36.5442 L 2215.9997 3288.2497 L 0 3288.2497 Z"/></svg> 
        </div>
    {% endif %}

    <div class="wrap-marquee marquee--destacado">
        <a href="/pages/nosotros">
            <div class="marquee-line"></div>
            <div class="marquee-text">
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
                <p>NOSOTROS</p>
                <span>&bull;</span>
                <p>SOMOS LAZO</p>
                <span>&bull;</span>
            </div>
            <div class="marquee-line"></div>
        </a>
    </div>

</div>
