<div id="contacto" data-barba="container" data-barba-namespace="contacto">
    <div class="animated"></div>
    
    {% assign contacto = page.metafields.contacto %}

    <div class="main-hero hero--contacto">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-7">
                    <div class="main-hero-content">
                        <h1 class="title title--big title--white">
                            {{ contacto.hero_contacto }} 
                        </h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/contacto-color.gif?v=1596752490" alt="">
                    </div>
                </div>
            </div>
            <div class="hero-link">
                <i class="icon-arrow-down"></i>
                <span>SCROLL</span>
            </div>
        </div>
    </div>

    <div id="wrap-contacto-form">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title title--white">
                        Hablemos
                    </h2>
                    <div class="form-social">
                        <h3>SÍGUENOS</h3>
                        <div class="form-social-icons">
                            <a href="https://www.instagram.com/lazo_libros/" target="_blank">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/instagram-white.svg?v=1586535617" alt="">
                            </a>
                            <a href="">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/youtube-white.svg?v=1586535608" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contacto-form">
                        {% form 'contact' %}
                            <input id="contact_tags" name="contact[tags]" type="hidden" value="contacto" />
                            <input type="text" id="ContactFormName" name="contact[name]" placeholder="Tu nombre completo">
                            <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Tu correo">
                            <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Escribe tu mensaje"></textarea>
                            {{ form.errors | default_errors }}
                            <button type="submit">
                                ENVIAR MENSAJE
                                <i class="icon-arrow-up-right"></i>
                            </button>
                            {% if form.posted_successfully? %} 
                                <p class="thankyou">
                                    Gracias por ponerte en contacto con nosotros 
                                </p>
                            {% endif %}
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--white js-wave"><path d="M0 10 L2500 10 L2500 80 L0 80 Z" /></svg>
    </div>

    <div id="contacto-info">
        <div class="container">
            <div class="row between">
                <div class="col-md-5">
                    <div class="contacto-info-left"">
                        <svg class="svg-1" x="0px" y="0px" viewBox="0 0 955.9 991.2">
                            <mask id="shape-mask-4">
                                <path class="mask-path-4" fill="#ffffff" d="M389.6,989.7c-82.1,10.9-171-40.6-226.6-95.8C101.3,832.4,62.7,751.4,38.4,668.8C20.7,608.7,10.1,546.6,4,484.3c-4.3-44.1-5.8-88.6-1.2-132.8c9.7-93.2,50.1-187.3,131.1-239.6c81.6-52.7,179.9-78.3,273.4-100.2C473.8-3.8,548.7-7.7,608.6,23.7c39.3,20.6,68,54.4,91.4,89.4c23.5,35.4,42.6,73.2,69.6,106.8c28.5,35.4,63.8,65.9,97.1,97.7c56.3,53.8,114.2,114.6,77.9,197.5c-14.3,32.8-39.1,60-66.1,83.5c-112.4,98-260.7,160.3-347.5,285.8c-27.1,39.2-59.3,78.2-105,96C414.1,985,402,988.1,389.6,989.7"/>
                            </mask>
                            <path class="mask-path-4" fill="#DE4939" d="M648.3,849c-8.7,13.9-14.8,29.6-17.7,45.9c-4.7,26.2,6.3,51.1,31.2,61.5c33.1,13.9,74.3-1.7,102.8-19.5c24.9-15.6,45.9-37,63.3-60.7c5.4-7.3,10.5-15,12.8-23.8c6.3-23.7-14.3-41.9-33.6-51c-31.9-15-70.3-15.6-102.6-1.6C681.1,810.1,661.6,827.6,648.3,849"/> 
                            <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/paula-guerra-arjona.jpg?v=1594255611" mask="url(#shape-mask-4)"></image>
                        </svg>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contacto-info-right">
                        <span class="role">
                            {{ contacto.rol }} 
                        </span>
                        <h3 class="title title--big">
                            {{ contacto.nombre }} 
                        </h3>
                        <div>
                            {{ contacto.bio }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--blue js-wave"><path d="M0 10 L2500 10 L2500 80 L0 80 Z" /></svg>
    </div>

    <div class="wrap-marquee marquee--contact">
        <a href="/pages/libros">
            <div class="marquee-line"></div>
            <div class="marquee-text">
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
                <p>CONOCE NUESTROS LIBROS</p>
                <span>&bull;</span>
            </div>
            <div class="marquee-line"></div>
        </a>
    </div>
</div>
