
<div id="libros" data-barba="container" data-barba-namespace="libros">
    <div class="animated"></div>

    {% assign libros = page.metafields.libros %}

    <div class="main-hero hero--libros">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-8">
                    <div class="main-hero-content">
                        <h1 class="title title--white">
                            {{ libros.hero_libros }}   
                        </h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/libros.gif?v=1594260753" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--yellow"><path class="js-wave" d="M 0 49.6473 C 422.8883 41.1901 422.8883 41.1901 845.7766 45.4188 C 1268.6649 49.6473 1268.6649 49.6473 1691.5533 37.5506 C 2114.4416 25.4538 2114.4416 25.4538 2537.3299 41.7879 L 2537.3299 3972.8999 L 0 3972.8999 Z"></path></svg>
    </div>

    {% comment %} Libros {% endcomment %}
    {% for prod in collections.all.products %}
        <div class="module-book" style="{% cycle 'background-color:#FEE399', 'background-color:#EDA68B', 'background-color:#79CADD' %}">
            {% assign prod_fields = prod.metafields.producto %}

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="module-banner-left">
                            <h2 class="title title--big">
                                {{ prod.title }}
                            </h2>
                            <p>
                            {{ prod_fields.intro_short }}
                            </p>
                            <div class="banner-links">
                                <div class="banner-link-leer">
                                    <a class="cta" href="/pages/el-vuelo-de-las-jorobadas">
                                        <span>LEER MÁS</span>
                                        {% include 'cta-line' %}
                                    </a>
                                </div>
                                    
                                <a class="banner-link-comprar" href="{{ prod.url }}">
                                    <i class="icon-shopping-cart"></i>
                                    ¡LO QUIERO!
                                </a>
                            </div>

                            <div class="banner-destino">
                                <div class="banner-destino-icon">
                                    <i class="icon-paper-plane"></i>
                                </div>
                                <div class="banner-destino-text">
                                    Destino: {{ prod_fields.destino }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-7">
                        <div class="module-banner-right">
                            <img src="{{ prod_fields.img_preview }}" alt="{{ featured.title }}" >
                        </div>
                        {% if forloop.first == true %}
                            <div class="module-banner-circle">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nuevo-libro.svg?v=1585457252" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--reverse"><path{% cycle ' fill="#FEE399" class="js-wave2"', ' fill="#EDA68B" class="js-wave2a"', ' fill="#79CADD" class="js-wave2"' %} d="M 0 27.9875 C 422.8883333333333 26.9984 422.8883333333333 26.9984 845.7766666666666 27.4929 C 1268.665 27.9875 1268.665 27.9875 1691.5533333333333 26.0751 C 2114.4416666666666 24.1625 2114.4416666666666 24.1625 2537.33 26.8808 L 2537.33 4858.58 L 0 4858.58 Z"></path></svg>
        </div>
    {% endfor %}

    <div id="libros-mas">
        {% comment %} <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--top wave--yellow"><path class="js-wave" d="M 0 49.6473 C 422.8883 41.1901 422.8883 41.1901 845.7766 45.4188 C 1268.6649 49.6473 1268.6649 49.6473 1691.5533 37.5506 C 2114.4416 25.4538 2114.4416 25.4538 2537.3299 41.7879 L 2537.3299 3972.8999 L 0 3972.8999 Z"></path></svg> {% endcomment %}
        <div class="container">
            <div class="libros-mas-content">
                <p class="title">
                    {{ libros.banner }}
                </p>
            </div>
        </div> 
          
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--blue"><path class="js-wave" d="M 0 49.6473 C 422.8883 41.1901 422.8883 41.1901 845.7766 45.4188 C 1268.6649 49.6473 1268.6649 49.6473 1691.5533 37.5506 C 2114.4416 25.4538 2114.4416 25.4538 2537.3299 41.7879 L 2537.3299 3972.8999 L 0 3972.8999 Z"></path></svg>  
    </div>

    <div class="wrap-marquee marquee--libros">
        <a href="/blogs/lazo-blog">
            <div class="marquee-line"></div>
            <div class="marquee-text">
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
                <p>BLOG</p>
                <span>&bull;</span>
            </div>
            <div class="marquee-line"></div>
        </a>
    </div>
</div>
