<div id="producto" data-barba="container" data-barba-namespace="producto">
    <div class="animated"></div>

    {% assign product_fields = product.metafields.producto %}
    
    <div class="product-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="product-images">
                        {% for image in product.images %}
                            <div class="single-product-image">
                                <img src="{{ image | img_url: 'master' }}" alt="" class="img-responsive">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="product-intro">
                        <h2>
                            {{ product.title }}
                        </h2>
                        <p>
                            {{ product.description }}
                        </p>

                        <div class="product-form">
                            <div class="cantidad">
                                <span class="js-quantity">
                                    1
                                </span>
                                <div class="controls">
                                    <span class="icon-minus js-remove"></span>
                                    <span class="icon-plus js-add"></span>
                                </div>
                            </div>

                            <p class="price">
                                {{ product.price | money_with_currency }}
                            </p>

                            {% form "product", product %}

                                <div class="custom">
                                    <label for="destinatario">Nombre de quien recibe el libro</label>
                                    <input id="destinatario" type="text" name="properties[Destinatario]">
                                </div>
                                
                                <div class="custom">
                                    <label for="mensaje">Mensaje</label>
                                    <input id="mensaje" type="text" name="properties[Mensaje]">
                                </div>
                              
                                <input hidden type="text" value="1" name="quantity" id="quantity" />
                                <input hidden type="text" name="id" value="{{ product.variants[0].id }}">

                                <button type="submit" class="btn add-to-cart js-add-to-cart">
                                    Añadir al carrito
                                </button>
                            {% endform %}
                        </div>

                        <div class="product-detail">
                            <div class="single-detail js-product-detail">
                                <h5>
                                    Especificaciones
                                    <i class="icon-plus"></i>
                                    <i class="icon-minus"></i>
                                </h5>
                                <div class="single-detail__content js-content">
                                    {{ product_fields.specs }}
                                </div>
                            </div>
                            <div class="single-detail js-product-detail">
                                <h5>
                                    Observaciones
                                    <i class="icon-plus"></i>
                                    <i class="icon-minus"></i>
                                </h5>
                                <div class="single-detail__content js-content">
                                    {{ product_fields.observaciones }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-marquee marquee--producto">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
            <p>NOSOTROS</p>
            <span>&bull;</span>
            <p>SOMOS LAZO</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>

</div>

